<%= form_for @item, :html => { multipart: true, :class => "form-horizontal item" } do |f| %>

  <% if @item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :model_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :model_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:model_number) %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantity) %>
  </div>
  <div class="form-group">
    <%= f.label :unit_price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :unit_price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:unit_price) %>
  </div>
  <div class="form-group">
    <%= f.label :total_value, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :total_value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_value) %>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.collection_radio_buttons :category_id, Category.all, :id, :name do |cb| %>
        <% cb.label(class: "radio-inline input_radio") {cb.radio_button(class: "radio") + cb.text} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
