<h1><%= @item.name %>(<%= @item.model_number %>) history</h1>
<h4><mark>currently <%= @item.name %> is allocaed to <%= @item.user.full_name %></mark></h4>
<% @histories.each do |history| %>
<% if history.status != "deallocated" %>
  <p>item is <%= history.status %> to <%= history.user.full_name %> at <%= history.created_at %>
<% else %>
  <p>item is <%= history.status %> from <%= history.user.full_name %> and at <%= history.created_at %>
    <% end %>
<% end %>
<br>
<button class="btn btn-warning">reallocation </button>
<%= link_to "deallocation", deallocate_path(@item), class: "btn btn-xs btn-default" %>
<button class="btn btn-danger">deallocation </button>
<%= form_tag("/reallocate", method: "post") do %>
  <%= label_tag(:q, "Choose User:") %>
  <%= hidden_field_tag(:id, @item.id) %>
  <%= collection_radio_buttons(:item, :user_id, User.all, :id, :full_name) do |cb| %>
  <% cb.label(class: "radio-inline input_radio") {cb.radio_button(class: "radio") + cb.text} %>
  <% end %>
  <%= submit_tag("Reallocate") %>
<% end %>
<br>
