<h1 align="center">Listing All Categories</h1>
<div align="center">
  <% @categories.each do |category| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <% if current_user.admin? %>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <% end %>
          <li id="category-title">
            <%= category.name %>
            <% if current_user.admin? %>
            <%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_category_path(category), id: "edit"%>
            <% end %>
          </li>
          <li><small><%= pluralize(category.items.count, "item") %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
<%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary col-md-4 col-md-offset-4' %>
